*.py[cod]
*.egg-info
*.eggs

dist
.cache

htmlcov
.coverage
xunit-result.xml
.pytest_cache/
coverage.xml
.mypy_cache
/result_images

docs/_build
docs/apidocs/

# ide
.idea
.eclipse

.scannerwork/

.ipynb_checkpoints

docs/examples/parameter-sets
docs/examples/ewatercycle.yaml
docs/autoapi

__pycache__

.ruff-cache
.venv
