name: SonarCloud analysis

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: conda-lock.yml
          cache-environment: true
          init-shell: bash
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          pip3 install -e .[dev]
      - name: Run pre commit hooks like linters and black formatter
        uses: pre-commit/action@v2.0.3
      - name: Check typings with mypy
        run: mypy
      - name: Tests with coverage
        run: |
          pytest --cov --cov-report term --cov-report xml \
            --junitxml=xunit-result.xml
        shell: bash -l {0}
      - name: Correct coverage paths
        run: sed -i "s+$PWD/++g" coverage.xml
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
